body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    text-align: center;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 10px;
    font-weight: bold;
}

section {
    background: white;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
}

img {
    display: block;
    margin: auto;
    border-radius: 50%;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
}

nav a:hover {
    color: blue;
}